.header {
  position: relative;
  width: 100%;
  height: 53px;

  &__row {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    background-color: #71a9f2;
    padding: 0 30px;
    transition: 0.2s ease;

    &.hide {
      transform: translateY(-80px);
    }
  }

  &__col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    color: white;

    &:last-child {
      width: 200px;
    }
  }
}
