.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &__logo {
    svg {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }

  &__search-area {
    width: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    &__title {
      margin: 15px;
    }

    &__grid {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      gap: 40px;

      svg {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          color: white;
          background-color: rgb(224, 224, 224);
        }
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      transition: 0.2s ease;

      &:nth-of-type(2) {
        width: 350px;
        height: 250px;
      }

      img {
        flex: 1;
        height: 175px;
        border-radius: 6px 6px 0 0;
      }

      div {
        padding: 10px;
        font-size: small;
        font-weight: bold;
        border: 1px solid lightgray;
        border-top: none;
      }
    }
  }
}
