.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #161619;
  color: white;

  &__row {
    &:first-child {
      margin-bottom: 30px;
    }

    &:last-child {
      display: flex;
    }
  }

  &__col {
    color: gray;

    &:first-child {
      margin-right: 20px;
    }
  }
}
