.search {
  padding: 20px;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.search__history {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  left: 0px;
  top: 67px;
}

.search__history__words {
  padding: 0 26px;
  display: flex;

  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.search__history__word {
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
}
